<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>물류 창고 입출고 프로그램</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>물류 창고 입출고 프로그램</header>
        <menu>
            <ul>
                <li><a href="/product">제품조회</a></li>
                <li><a href="/stock">입출고등록</a></li>
                <li><a href="/history">입출고내역조회</a></li>
                <li><a href="/profit">출고매출이익</a></li>
                <li><a href="/">홈으로</a></li>
            </ul>
        </menu>
        <main>
            <h1 class="company">코리아 아이티 아카데미</h1>
            <h2 class="ncs">능력 단위 평가 - 웹 프로그래밍</h2>
                <h3 class="ncs-content">평가내용</h3>
                <p class="ncs-content">자바 기초, 데이터베이스 구축, 웹표준(HTML, CSS, JS) 웹 애플리케이션 개발 능력을 평가합니다.</p>
        </main>
        <footer>
            copyright &copy; 2024 KOREA INFORMATION TECHNOLOGY ACADEMY. ALL RIGHTS RESERVED
        </footer>
        
        <script src="js/script.js"></script>
    </body>
</html>